body{
  font-family: Bebas Neue;
}
.menulinks{
  text-decoration: none;
  padding:7px;
  margin-left: 32%;
  font-weight: bold;
  font-size: 20px;
  border: 0px;
  width: 10%;
}
.menulinks1{
  text-decoration: none;
  padding:7px;
  font-weight: bold;
  font-size: 20px;
  border: 0px;
  width: 10%;
}

.menulinks:hover {
  background-color: black;
  color: white;
}
.menulinks1:hover {
  background-color: black;
  color: white;
}
.bgcolor1{
  padding-bottom: 50px;

}
.asico{
  font-weight: bold;
  font-family: Roboto;
}
.width{
  float: left;
  width: 40%;
  margin-left: 10px;
}
#head1{
  color:#363958;
  font-weight: bold;
  font-size: 7vw;
  margin-top: 120px;
  margin-left: 120px;
  margin-bottom: 1px;
  }
#head2{
  color:#ff8367;
  font-weight: bold;
  font-size: 7vw;
  margin-top: 120px;
}
.ltlTxt{
  margin-left: 120px;
  font-family: Roboto;
  font-size: 1vw;
  font-style: bold;
  text-align: left;

}
/*button*/
.button{
  text-decoration: none;
  color: white;
  background-image: linear-gradient(#FF8063,#F46060);
  padding:10px;
  margin-left: 120px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  border: 10px;
  width: 25%;
}
.button:hover {
  color: black;
}
.button2{
  text-decoration: none;
  color: #FFFFFF;
  background-image: linear-gradient(#FF8063,#F46060);
  padding:10px;
  margin-left: 90px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  border: 10px;
}
.button2:hover {
  color: black;
}
.About{
  color: #363958;
  margin-top: 50%;
  margin-left: 55%;
  font-size: 50px;
  margin-bottom: 10px;
}
.about{
  font-family: arial;
  max-width: 400px;
  margin-left: 55%;
  color: #3E3E3E;
}

.bgcolor{
  margin-top:10%;
  background-color:#F8F9FC;
  padding-bottom: 35%;
}
#latest{
 color: #F46060;
}
#latest1{
  font-size: 50px;
  margin-left: 40%;
  padding-top: 5%;
color: #363958;
}
/*Images*/
img{
  width: 100%;
}
.img1{
  margin-top: 10%;
  float: right;
  margin-right: 50px;
  width: 40%;
}
.img2{
  margin-top: 2%;
  float: left;
  margin-left: 40px;
  width: 45%;
}
.img3{
  box-shadow:1px 2px rgba(0, 0, 0, 0.034);
  border-radius: 5%;
  margin-left: 12%;
  float: left;
  width: 20%;
  padding: 1%;
  background-color: white;
}
.img4-5{
  box-shadow:1px 2px rgba(0, 0, 0, 0.034);
  margin-left: 3%;
  float: left;
  width: 20%;
  border-radius: 5%;
  padding: 1%;
  background-color: white;
}
.imgBG{
  background-image: url(Images/BG1.png);
  background-color: white;
  height: 400px;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
.imgmini{
  width: 30px;
  float: left;
  padding-left: 45%;
}
.imgmini2{
  width: 30px;
  float: left;
  padding-left: 2%;
  padding-bottom: 10%;
}
.work{
  padding-top:9%;
  font-size: 50px;
  color : white;
  padding-left: 30%;
  float: left;
}
.workb{
  padding-top: 13.5%;
  padding-left: 60%;
}
.button3{
  text-decoration: none;
  color: #FFFFFF;
  background-image: linear-gradient(#FF8063,#F46060);
  padding:10px;
  border-radius: 2px;
  font-size: 15px;
  border: 50px;
}
.connect{
  padding-top: 8%;
  text-align: center;
  font-size: 20px;
  font-family: Roboto;
}
.com{
  text-align: center;
  font-size: 40px;
  font-family: Roboto;
}

.asico{
  font-family:Roboto;
	font-size: 30px;
	text-align: center;
	padding: 0px 50px;
  line-height: 52px; 
  text-decoration: none;
}